header {
    background: var(--clr2btn);
    border-bottom: 2px solid white;
    font-family: 'Zen Dots', cursive;
}

.app-header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
}

nav a {
    margin: .5em;
}

nav a:active {
    color: purple;
}

nav a.active {
    color: rgb(28, 58, 146);
    font-weight: bold;
    text-decoration: overline;
}