.note-color {
  position: absolute;
  bottom: 10px;
  right: -500%;
  left: 150px;
  width: 160px;
  height: 80px;
  padding-top: 5px;
  border: 1px solid white;
  background-color: rgb(234, 234, 234);
  border-radius: 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.2s, opacity 0.5s linear;
}

.platte-colors:hover .note-color {
  position: absolute;
  visibility: visible;
  opacity: 1;
}

.note-color-item {
  flex-direction: column;
  cursor: pointer;

  margin: 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1.5px solid rgb(103, 95, 95);
}

.note-color-item:hover {
  border: 1.5px solid rgb(0, 0, 0);
}
