select {
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid rgb(255, 153, 10);
}

input {
  float: left;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid rgb(255, 153, 10);
  color: rgb(255, 255, 255);
}
