.note-list {
  list-style: none;
  margin: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 40px;
  gap: 30px;
}

/* .link {
    color: rgb(255, 153, 10);
  }
  
  .Link :hover {
    color: rgb(255, 153, 10);
  } */

/* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}

.trans {
  visibility: hidden;
  initial-value: #ffffff;
  opacity: 0;
  position: absolute;
}
